+++
title = "inserting"
type = "webpage"
date = "2018-01-24T20:32:47Z"
+++

<div id="app">
    <h1>Adding</h1>
    <p>The core of a HyperLogLog instance consists of:</p>
    <ul>
        <li>a series of <i>registers</i> (<span v-html="KATEX_RENDERS['m']"></span>), sometimes implemented as an array</li>
        <li>a <i>precision</i> (<span v-html="KATEX_RENDERS['p']"></span>) argument, usually between 4 and 16, specified on creation
            <ul>
                <li>The precision determines how many registers there are available</li>
                <li>More registers reduce the error in the <a href="/counting">count</a>, at the expense of more memory</li>
            </ul>
        </li>
        <li>a <i>hash function</i> (<span v-html="KATEX_RENDERS['h_v']"></span>) which hashes the data into a 32-bit integer
        
    </ul>
    
    <p>Adding an item might ultimately end up changing the state of the registers, as you will see below.</p>

    <div class="row">
        <div class="col">
            <h3>Diagram</h3>
            <p>Hopefully this diagram will explain the steps that occur during an add operation. If not, maybe the <a href="#playground-section">playground below</a> might give you some intuition.</p>
            <img src="/img/inserting.png" />
        </div>
    </div>
    <br/>
    <br/>
    <br/>


    <a name="playground-section" />
    <h3>Playground</h3>
    <p>Use the tool below to see what happens when you add an item into HyperLogLog</p>
    <div class="row" style="border:1px solid #000; padding:20px; margin-top:5px; margin-bottom:10px; border-radius:4px;">
        <div class="col-md-6">
            <h4>Insert (<span v-html="KATEX_RENDERS['v']"></span>)</h4>
            <div class="form-group">
                <input placeholder="a value to insert into hyperloglog" class="form-control" v-model="data" type="text" />

                <button class="btn btn-primary float-right" v-on:click="add">Add</button>
                <button class="btn btn-secondary float-right" style="margin-right:4px;" v-on:click="random">Random</button>
            </div>
        </div>
        <div class="col-md-6">
            <h4>Precision (<span v-html="KATEX_RENDERS['p']"></span>)</h4>
            <input class="form-control" type="range" min="4" max="16" step="1" id="slider" v-model="precision" />
            <output id="precision">{{precision}}</output>
        </div>
    </div>

    <div class="row" v-if="result">
        <div class="col">
            <p v-if="result.registerUpdated" style="font-size:32px; padding:16px; text-align:center;">Register #<strong>{{result.b}}</strong> was updated with value <strong>{{result.w}}</strong></p>
            <p v-if="result.registerUpdated === false" style="font-size:32px; padding:16px; text-align:center;">Value in register #<strong>{{result.b}}</strong> is > <strong>{{result.w}}</strong>, no update occurred.</p>
        </div>
    </div>

    <div id="results" class="row" v-if="!result">
        <div class="col">
                <div class="card bg-info text-white" style="margin-top:10px; margin-bottom:10px;">
                    <div class="card-body" style="text-align:center; font-size:20px;">
                        <p class="card-text">
                            <i>Try inserting some data above, or click "Random" to insert a random value</i>
                        </p>
                    </div>
                </div>
        </div>
    </div>
    <div class="row" v-if="result">
        <div class="col">
            <h3>Calculation</h3>
            <table class="table">
                <tr>
                    <td v-html="KATEX_RENDERS['v']"></td>
                    <td>{{result.data}}</td>
                    <td>
                    </td>
                </tr>
                <tr>

                    <td v-html="KATEX_RENDERS['h_v']"></td>
                    <td>
                        <code>{{toBinary(result.h, 32)}}</code> ({{result.h}})
                    </td>
                    <td>
                        The hash of the value
                    </td>
                </tr>
                <tr>
                    <td v-html="KATEX_RENDERS['idx']"></td>
                    <td>
                        <code>{{toBinary(result.b, result.p)}}</code> ({{result.b}})</td>
                    <td>Top {{result.p}} bits of <span v-html="KATEX_RENDERS['h_v']"></span></td>
                </tr>
                <tr>
                    <td v-html="KATEX_RENDERS['w']"></td>
                    <td>{{result.w}}</td>

                    <td>The number of leading zeroes + 1<br/> of the remaining {{32-result.p}} bits</td>
                </tr>

                <tr>
                    <td v-html="KATEX_RENDERS['m[idx]']+' updated?'"></td>
                    <td>
                        <span v-if="result.registerUpdated">✅</span>
                        <span v-if="result.registerUpdated === false">❌</span>
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>

    <a name="registers-section" />
    <div class="row" v-if="registers.length > 0">
        <div class="col">
            <h3>Registers</h3>
            <p>Each register represents the maximum number of leading zeroes + 1 seen.</p>
            <div id="registers">
                <table class="table">
                    <tr v-for="(row, rowindex) in registers">
                        <td v-bind:title="'Register: ' + (rowindex*64+index)+ '\x0AValue: ' + value" v-for="(value,index) in row" v-bind:class="[value > 0 ? 'register-on' : 'register-off']">
                            {{value}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    const KATEX_RENDERS = {
        "h_v": '<span class="katex"><span class="katex-mathml"><math><semantics><mrow><mi>h</mi><mo>(</mo><mi>v</mi><mo>)</mo></mrow><annotation encoding="application/x-tex">h(v)</annotation></semantics></math></span><span class="katex-html" aria-hidden="true"><span class="strut" style="height:0.75em;"></span><span class="strut bottom" style="height:1em;vertical-align:-0.25em;"></span><span class="base"><span class="mord mathit">h</span><span class="mopen">(</span><span class="mord mathit" style="margin-right:0.03588em;">v</span><span class="mclose">)</span></span></span></span>',
        "v": '<span class="katex"><span class="katex-mathml"><math><semantics><mrow><mi>v</mi></mrow><annotation encoding="application/x-tex">v</annotation></semantics></math></span><span class="katex-html" aria-hidden="true"><span class="strut" style="height:0.43056em;"></span><span class="strut bottom" style="height:0.43056em;vertical-align:0em;"></span><span class="base"><span class="mord mathit" style="margin-right:0.03588em;">v</span></span></span></span>',
        "idx": '<span class="katex"><span class="katex-mathml"><math><semantics><mrow><mi>i</mi><mi>d</mi><mi>x</mi></mrow><annotation encoding="application/x-tex">idx</annotation></semantics></math></span><span class="katex-html" aria-hidden="true"><span class="strut" style="height:0.69444em;"></span><span class="strut bottom" style="height:0.69444em;vertical-align:0em;"></span><span class="base"><span class="mord mathit">i</span><span class="mord mathit">d</span><span class="mord mathit">x</span></span></span></span>',
        "w": '<span class="katex"><span class="katex-mathml"><math><semantics><mrow><mi>w</mi></mrow><annotation encoding="application/x-tex">w</annotation></semantics></math></span><span class="katex-html" aria-hidden="true"><span class="strut" style="height:0.43056em;"></span><span class="strut bottom" style="height:0.43056em;vertical-align:0em;"></span><span class="base"><span class="mord mathit" style="margin-right:0.02691em;">w</span></span></span></span>',
        "p": '<span class="katex"><span class="katex-mathml"><math><semantics><mrow><mi>p</mi></mrow><annotation encoding="application/x-tex">p</annotation></semantics></math></span><span class="katex-html" aria-hidden="true"><span class="strut" style="height:0.43056em;"></span><span class="strut bottom" style="height:0.625em;vertical-align:-0.19444em;"></span><span class="base"><span class="mord mathit">p</span></span></span></span>',
        "m[idx]": '<span class="katex"><span class="katex-mathml"><math><semantics><mrow><mi>m</mi><mo>[</mo><mi>i</mi><mi>d</mi><mi>x</mi><mo>]</mo></mrow><annotation encoding="application/x-tex">m[idx]</annotation></semantics></math></span><span class="katex-html" aria-hidden="true"><span class="strut" style="height:0.75em;"></span><span class="strut bottom" style="height:1em;vertical-align:-0.25em;"></span><span class="base"><span class="mord mathit">m</span><span class="mopen">[</span><span class="mord mathit">i</span><span class="mord mathit">d</span><span class="mord mathit">x</span><span class="mclose">]</span></span></span></span>',
        "m": '<span class="katex"><span class="katex-mathml"><math><semantics><mrow><mi>m</mi></mrow><annotation encoding="application/x-tex">m</annotation></semantics></math></span><span class="katex-html" aria-hidden="true"><span class="strut" style="height:0.43056em;"></span><span class="strut bottom" style="height:0.43056em;vertical-align:0em;"></span><span class="base"><span class="mord mathit">m</span></span></span></span>'
    };
    function buckets_to_rows(buckets, rowsize) {
        var b = [[]];
        var row = 0;
        var i = 0;
        for (reg in buckets) {
            b[row].push(buckets[i])
            i++;

            if (i % rowsize == 0) {
                row++;
                b[row] = [];
            }
        }
        return b;

    }



    function toBinary(num, trunc) {
        var b = num.toString(2);
        if(b.length === trunc) {
            return b;
        }

        return "0".repeat(trunc-b.length) + b;
    }

        function generateGuid() {
            var result, i, j;
            result = '';
            for (j = 0; j < 32; j++) {
                if (j == 8 || j == 12 || j == 16 || j == 20)
                    result = result + '-';
                i = Math.floor(Math.random() * 16).toString(16).toUpperCase();
                result = result + i;
            }
            return result;
        }
    const DEFAULT_PRECISION = 10;
    var app = new Vue({
        el: '#app',
        data: {
            precision: DEFAULT_PRECISION,
            hll: new HyperLogLog(DEFAULT_PRECISION),
            result: null,
            data: "",
            registers: []
        },
        methods: {
            'reset': function (e, p) {
                if(p !== this.hll.p) {
                    this.hll = HyperLogLog(p);
                }
            },
            add: function(e) {
                this.reset(null, this.precision);
                var result = this.hll.add(murmurhash3_32_gc(this.data, 100));
                result["data"] = this.data;
                this.result = result;
                this.registers = buckets_to_rows(this.hll.buckets, 64);
            },
            random: function(e) {
                this.data = generateGuid();
                this.add();
            }
        }
    });
</script>
